<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<property name="LOG_PATH" value="C:/sts-bundle/logs/html-parser" />
	<property name="LOG_FILE_NAME" value="html-parser-application" />
	
	<!-- APPENDER 정의 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%-4relative [%thread] %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{35} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>			
		</rollingPolicy>
	</appender>
	
	<!-- 적용 Logger 설정 -->
	<logger name="com.wmp.homework" level="DEBUG" />
	<logger name="org.springframework.web" level="DEBUG" />
    <logger name="org.springframework.web.servlet.mvc" level="INFO" />
		
	<root level="info">
		<appender-ref ref="FILE" />
	</root>
	
</configuration>
